# Python
__pycache__/
*.py[cod]
*.pytest_cache
env/
.venv/
venv/

# Streamlit secrets and credentials
credentials.json
.env
.streamlit/secrets.toml

# Local SQLite database (users, subscriptions, orders)
data/

# VSCode
.vscode/
credentials.json

# My bash  tricks
.local_bash_eternal_history
.activate
old_app.py
job_cv_ai_generator.png
